.footer {
    & > button {
        
        position: absolute;
        bottom: 2rem;
        border: 3px solid $header-outline;
        border-radius: 10px;
        padding: 10px 30px;
        background-color: transparent;
        
        font-size: 1.5em;

        transition: 0.3s;

        &:hover {
            background-color: $header-outline;

            cursor: pointer;
        }
    }
}


.modal {
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);

    & > .modal-content {
        background: white;
        color: $dark-text;
        text-transform: uppercase;
    }
}

#close-button {
    color: $header-outline;
    &::after {
        display: inline-block;
        font-size: 3rem;
        content: "\00d7";
    }

    &:hover {
        cursor: pointer;
        color: $dark-text;
    }
}


@media (min-width: 375px) {
    .footer {
        display: flex;
        justify-content: center;

        .image-container {
            width: 70%;
            max-width: 250px;
            margin: 0 auto;
        }
    }

    .modal {
        & > .modal-content {
            height: 100vh;
            width: 100vw;
        }

        h3 {
            padding: 100px 0;
            font-size: 2.5em;
        }
    }

    #close-button {
        position: absolute;
        bottom: 5%;
    }

}


@media (min-width: 1366px) {
    .footer {
        & > button {
            right: 2rem;
        }

        .image-container {
            width: 450px;
            max-width: 300px;
            margin: 0 25px 25px;
        }
    }

    .modal {
        padding-top: 100px;
        & > .modal-content {
            width: fit-content;
            height: fit-content;
            border-radius: 10px;
            padding: 20px;
        }
        h3 {
            padding: 0;
            font-size: 1.5em;
        }

    }

    .modal-head {
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        align-items: center;
        margin-bottom: 30px;
    }

    #close-button {
        position: unset;
    }
}