.header {
    border: 3px solid $header-outline;
    max-width: 90%;
    width: 100%;
    
    margin: 30px auto 50px;
    border-radius: 1rem;
    padding: 20px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.score-box {
    padding: 12px 40px;
    background: white;
    color: $score-text;
    border-radius: 5px;
    max-width: 7.8rem;
    min-width: 5rem;

    &-points {
        color: $dark-text;
        font-size: 3.5rem;
        font-weight: 700;
        padding: 0;
    }
}

.image-container {
    width: 100px;
}

@media (min-width: 768px) {
    .header {
        max-width: 700px;
    }
}