.fade-in {
	animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 200ms both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal-entrance {
	animation: modal-entrance 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 200ms both;
}

@keyframes modal-entrance {
  0% {
    transform: scaleX(0);
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}

.modal-exit {
	animation: modal-exit 0.45s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
}

@keyframes modal-exit {
  0% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
  100% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }
}