.match {
    width: 100%;
    margin: 5% auto 0;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    &-choice {
        font-size: 1.5em;
        text-align: center;
    }

    .icon {
        border-radius: 50%;
        margin: 15% auto 0;

        &-paper {
            @include icon($paper-icon, $paper);

            &-win {
                @include auraShadow($paper);
            }
        }
        &-rock {
            @include icon($rock-icon, $rock);

            &-win {
                @include auraShadow($rock);
            }
        }
        &-scissors {
            @include icon($scissors-icon, $scissors);

            &-win {
                @include auraShadow($scissors);
            }
        }
    }

    .result {
        font-weight: 700;
        width: fit-content;

        & > p {
            padding: 0 3rem;
        }

        & > button {
            width: 100%;
            background: white;
            padding: 1rem 0;
            border-radius: 5px;
            color: $dark-text;
            transition: 0.3s;

            &:hover {
                color: $rock;
                cursor: pointer;
            }
        }
    }
}

.counter {
    background-color: white;
    border-color: royalblue;
    border-radius: 50%;
    border-radius: 50%;
    box-shadow: inset 1px 6px 0px #b9c1d6, 0px 4px darken(royalblue, 15%);
    margin: 15% auto 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

@media (min-width: 375px) {
    .match {
        justify-content: space-around;

        &-choice {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
        }

        .icon {
            height: 150px;
            width: 150px;
            background-size: 50px;
            border: 1rem solid;
            margin-bottom: 40px;

            &-paper {
                @include icon($paper-icon, $paper);

                &-win {
                    @include auraShadow($paper);
                }
            }
            &-rock {
                @include icon($rock-icon, $rock);

                &-win {
                    @include auraShadow($rock);
                }
            }
            &-scissors {
                @include icon($scissors-icon, $scissors);

                &-win {
                    @include auraShadow($scissors);
                }
            }

            &-lizard {
                @include icon($lizard-icon, $lizard);

                &-win {
                    @include auraShadow($lizard);
                }
            }
            &-spock {
                @include icon($spock-icon, $spock);

                &-win {
                    @include auraShadow($spock);
                }
            }
        }

        .result {
            position: absolute;
            bottom: 20%;
            font-size: 5em;

            p {
                padding: 0;
                margin-bottom: -40px;
                text-align: center;
            }

            & > button {
                font-size: 0.3em;
                padding: 15px 1rem;
                border-radius: 10px;
            }
            
        }
    }

    .counter {
        border: 1rem solid royalblue;
        margin: 15% auto 0;
        height: 150px;
        width: 150px;
        margin-bottom: 40px;
        font-size: 2em;
    }
}

@media (min-width: 1366px) {
    .match {
        justify-content: space-evenly;

        &-choice {
            font-size: 1.5em;
            display: block;
        }

        .icon {
            height: 200px;
            width: 200px;
            border: 1.5rem solid;
            background-size: 75px;
            margin-bottom: 0;

            &-paper {
                @include icon($paper-icon, $paper);

                &-win {
                    @include auraShadow($paper);
                }
            }
            &-rock {
                @include icon($rock-icon, $rock);

                &-win {
                    @include auraShadow($rock);
                }
            }
            &-scissors {
                @include icon($scissors-icon, $scissors);

                &-win {
                    @include auraShadow($scissors);
                }
            }
            &-lizard {
                @include icon($lizard-icon, $lizard);

                &-win {
                    @include auraShadow($lizard);
                }
            }
            &-spock {
                @include icon($spock-icon, $spock);

                &-win {
                    @include auraShadow($spock);
                }
            }
        }

        .result {
            position: unset;
            font-size: 4em;

            p {
                margin-bottom: 0;
            }
            & > button {
                font-size: 0.4em;
            }
        }
    }

    .counter {
        height: 200px;
        width: 200px;
        border: 1.5rem solid royalblue;
        font-size: 2em;
    }
}